In [34]:
import pandas as pd

In [35]:
df_os = pd.read_excel('02-dados_os.xlsx')
df_os.head()
df_os.info()
df_os['OS'].unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   DIA         42 non-null     int64
 1   MES         42 non-null     int64
 2   ANO         42 non-null     int64
 3   OS          42 non-null     object
 4   MARCA       42 non-null     object
 5   TAMANHO     42 non-null     object
 6   COR         42 non-null     object
 7   COLADOR     42 non-null     object
 8   QUANTIDADE  42 non-null     int64
 9   STATUS      42 non-null     object
 10  PAGO        42 non-null     object
dtypes: int64(4), object(7)
memory usage: 3.7+ KB

array(['OS001096/01M', 'OS001096/01P', 'OS001056/01R', 'OS001080/01K',
       'OS001056/01RX', 'OS009999/BRA', 'OS001044/01KID', 'OS001080/03P',
       'OS001080/03M', 'OS001044', 'OS001044/01VE', 'OS001063',
       'OS001051', 'OS009999/DUP', 'OS001080/02VC', 'OS001097/02R',
       'OS001097/02B', 'OS VERMELHA ANTIGA', 'OS001028/01',
       'OS001044/04VE', 'OS001112', 'OS001113/01', 'OS001109',
       'OS001109/G', 'OS001113/V', 'OS001113/P', 'OS000000',
       'OSOS001134/PP', 'OSOS001134/P', 'OSOS001134/P2', 'OSOS001134/M',
       'OS001108/03VCp', 'OS001108/03VMp', 'OS001108/03VCM',
       'OS001108/03PM', 'OS001156', 'OS001031', 'OS001108/3PM2',
       'OS001108/VM2', 'OS000000/01HM', 'OS000000/01TS', 'OS000000/01JM'],
      dtype=object)

In [36]:
df_colador = pd.read_excel("03-entrada e saida.xlsx")
df_colador.head()

,DIA,MES,ANO,OS,MARCA,TAMANHO,COR,COLADOR,QUANTIDADE,STATUS,PAGO
0,30,9,2022,OS001096/01P,DELLAWER,P,KIDS,LEDA,500,ENVIADO,S
1,23,9,2022,OS001056/01R,EXITO,M,ROSA,LEDA,250,ENVIADO,S
2,23,9,2022,OS001080/01K,MARBELLE,M,KIDS,FABIANA,500,ENVIADO,S
3,23,9,2022,OS001080/01K,MARBELLE,M,KIDS,LEDA,180,RECEBIDO,S
4,23,9,2022,OS001080/01K,MARBELLE,M,KIDS,GERLUCIO,62,RECEBIDO,S

In [37]:
df_recebidos = df_colador[df_colador['STATUS'] == "RECEBIDO"]
df_recebidos.head()

,DIA,MES,ANO,OS,MARCA,TAMANHO,COR,COLADOR,QUANTIDADE,STATUS,PAGO
3,23,9,2022,OS001080/01K,MARBELLE,M,KIDS,LEDA,180,RECEBIDO,S
4,23,9,2022,OS001080/01K,MARBELLE,M,KIDS,GERLUCIO,62,RECEBIDO,S
5,23,9,2022,OS001056/01R,EXITO,M,ROSA,FABIANA,342,RECEBIDO,S
6,26,9,2022,OS001056/01RX,EXITO,M,ROXA,DIOGO,57,RECEBIDO,S
7,26,9,2022,OS001056/01RX,EXITO,M,ROXA,WESCLEY,266,RECEBIDO,S

In [38]:
df_recebidos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 133 entries, 3 to 211
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   DIA         133 non-null    int64
 1   MES         133 non-null    int64
 2   ANO         133 non-null    int64
 3   OS          133 non-null    object
 4   MARCA       133 non-null    object
 5   TAMANHO     133 non-null    object
 6   COR         133 non-null    object
 7   COLADOR     133 non-null    object
 8   QUANTIDADE  133 non-null    int64
 9   STATUS      133 non-null    object
 10  PAGO        133 non-null    object
dtypes: int64(4), object(7)
memory usage: 12.5+ KB

In [39]:
df_filtro_soma = df_recebidos[['OS','MARCA','TAMANHO','COR','QUANTIDADE','STATUS']].copy()
df_filtro_soma.head()
df_filtro_soma.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 133 entries, 3 to 211
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OS          133 non-null    object
 1   MARCA       133 non-null    object
 2   TAMANHO     133 non-null    object
 3   COR         133 non-null    object
 4   QUANTIDADE  133 non-null    int64
 5   STATUS      133 non-null    object
dtypes: int64(1), object(5)
memory usage: 7.3+ KB

In [40]:
df_soma_os = df_filtro_soma.groupby(['OS','MARCA','TAMANHO','COR','STATUS']).sum().reset_index()
df_soma_os.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OS          37 non-null     object
 1   MARCA       37 non-null     object
 2   TAMANHO     37 non-null     object
 3   COR         37 non-null     object
 4   STATUS      37 non-null     object
 5   QUANTIDADE  37 non-null     int64
dtypes: int64(1), object(5)
memory usage: 1.9+ KB

In [41]:
df_soma_os

,OS,MARCA,TAMANHO,COR,STATUS,QUANTIDADE
0,OS VERMELHA ANTIGA,EXITO,M,VERMELHO,RECEBIDO,84
1,OS000000,ipe,M,TERCEIRIZADO,RECEBIDO,489
2,OS001028/01,RDavila,M2,PRETA,RECEBIDO,1569
3,OS001031,IRISBELA,M,ROSA,RECEBIDO,350
4,OS001044,HARDY,M,PRETA,RECEBIDO,2085
5,OS001044/01KID,HARDY,M,KIDS,RECEBIDO,1066
6,OS001044/01VE,HARDY,M,VERMELHA,RECEBIDO,3097
7,OS001044/04VE,HARDY,M,VERMELHA,RECEBIDO,4066
8,OS001051,EXITO,M,MIRINS E CIA,RECEBIDO,2077
9,OS001056/01R,EXITO,M,ROSA,RECEBIDO,1824
10,OS001056/01RX,EXITO,M,ROXA,RECEBIDO,2017
11,OS001063,CARIOCA DAS MARCAS,M,PRETA,RECEBIDO,200
12,OS001080/01K,MARBELLE,M,KIDS,RECEBIDO,2672
13,OS001080/02VC,MARBELLE,M2,VERDE CLARO,RECEBIDO,983
14,OS001080/03M,MARBELLE,M,VERDE MILITAR,RECEBIDO,948
15,OS001080/03P,MARBELLE,P,PRETA,RECEBIDO,814
16,OS001096/01M,DELLAWER,M,ADULTO,RECEBIDO,447
17,OS001096/01P,DELLAWER,P,KIDS,RECEBIDO,466
18,OS001097/02B,PARISI,M,BRANCA,RECEBIDO,978
19,OS001097/02R,PARISI,M,SALMAO,RECEBIDO,1017
20,OS001108/03PM,MARBELLE,M,PRETO,RECEBIDO,476
21,OS001108/03VCM,MARBELLE,M,VERDE CLARO,RECEBIDO,585
22,OS001108/03VCp,MARBELLE,P,VERDE CLARO,RECEBIDO,797
23,OS001108/03VMp,MARBELLE,P,VERDE MILITAR,RECEBIDO,500
24,OS001109,CASA VENEZA,M,VERMELHO,RECEBIDO,378
25,OS001109/G,CASA VENEZA,G,VERMELHO,RECEBIDO,351
26,OS001112,FABIOLA VAREDADES,M,VERDE,RECEBIDO,381
27,OS001113/01,Ed Multimarcas,M,LARANJA COM BRANCO,RECEBIDO,520
28,OS001113/P,Brunyellen,M,PRETO,RECEBIDO,539
29,OS001113/V,Brunyellen,M,VINHO,RECEBIDO,520
30,OS001156,CASSIA PARENTE,M,ROSA,RECEBIDO,1057
31,OS009999/BRA,OFSET,M,BRANCA,RECEBIDO,377
32,OS009999/DUP,SACOLA,M,DUPLEX BRANCA,RECEBIDO,220
33,OSOS001134/M,SHOPPING RICOS,M,PRETA,RECEBIDO,1055
34,OSOS001134/P,SHOPPING RICOS,P,PRETA,RECEBIDO,1084
35,OSOS001134/P2,SHOPPING RICOS,P2,PRETA,RECEBIDO,1014
36,OSOS001134/PP,SHOPPING RICOS,PP,PRETA,RECEBIDO,997

In [42]:
lista_os = df_soma_os['OS'].unique()
lista_os

array(['OS VERMELHA ANTIGA', 'OS000000', 'OS001028/01', 'OS001031',
       'OS001044', 'OS001044/01KID', 'OS001044/01VE', 'OS001044/04VE',
       'OS001051', 'OS001056/01R', 'OS001056/01RX', 'OS001063',
       'OS001080/01K', 'OS001080/02VC', 'OS001080/03M', 'OS001080/03P',
       'OS001096/01M', 'OS001096/01P', 'OS001097/02B', 'OS001097/02R',
       'OS001108/03PM', 'OS001108/03VCM', 'OS001108/03VCp',
       'OS001108/03VMp', 'OS001109', 'OS001109/G', 'OS001112',
       'OS001113/01', 'OS001113/P', 'OS001113/V', 'OS001156',
       'OS009999/BRA', 'OS009999/DUP', 'OSOS001134/M', 'OSOS001134/P',
       'OSOS001134/P2', 'OSOS001134/PP'], dtype=object)

In [43]:
lista_os_of = df_os['OS'].unique()
lista_os_of

array(['OS001096/01M', 'OS001096/01P', 'OS001056/01R', 'OS001080/01K',
       'OS001056/01RX', 'OS009999/BRA', 'OS001044/01KID', 'OS001080/03P',
       'OS001080/03M', 'OS001044', 'OS001044/01VE', 'OS001063',
       'OS001051', 'OS009999/DUP', 'OS001080/02VC', 'OS001097/02R',
       'OS001097/02B', 'OS VERMELHA ANTIGA', 'OS001028/01',
       'OS001044/04VE', 'OS001112', 'OS001113/01', 'OS001109',
       'OS001109/G', 'OS001113/V', 'OS001113/P', 'OS000000',
       'OSOS001134/PP', 'OSOS001134/P', 'OSOS001134/P2', 'OSOS001134/M',
       'OS001108/03VCp', 'OS001108/03VMp', 'OS001108/03VCM',
       'OS001108/03PM', 'OS001156', 'OS001031', 'OS001108/3PM2',
       'OS001108/VM2', 'OS000000/01HM', 'OS000000/01TS', 'OS000000/01JM'],
      dtype=object)

In [44]:
#tentando comparar os dados cuidado pra nao rodar 2 vezes
for i in lista_os_of:
    df_concat = pd.read_csv('pesquisa.csv') #carregando um arquivo vazio
    df_fake = df_os[df_os['OS']== i].copy() #pesquisando cada os
    df_fake2 = df_soma_os[df_soma_os['OS'] == i].copy() #pesquisando cada os nos recebidos
    
    df_concat = pd.concat([df_fake,df_fake2,df_concat]) #juntando as informações
    df_concat= df_concat.drop_duplicates() #tentando remover as duplicatas
    df_concat.to_csv('pesquisa.csv',index=False) #salvando no mesmo diretorio csv

In [45]:
df_concat

,DIA,MES,ANO,OS,MARCA,TAMANHO,COR,COLADOR,QUANTIDADE,STATUS,PAGO
41,29.0,11.0,2022.0,OS000000/01JM,JOAO E MARIA,P,COLORIDA,IDEZ,275,TOTAL OS,N
0,29.0,11.0,2022.0,OS000000/01TS,TS Style,M,LILAS,IDEZ,105,TOTAL OS,N
1,29.0,11.0,2022.0,OS000000/01HM,HM CONCEITO,M,BRANCO C/ LARANJA,IDEZ,109,TOTAL OS,N
2,21.0,11.0,2022.0,OS001108/VM2,MARBELLE,M2,VERDE MILITAR,IDEZ,1000,TOTAL OS,N
3,26.0,11.0,2022.0,OS001108/3PM2,MARBELLE,M2,PRETA,IDEZ,1000,TOTAL OS,N
...,...,...,...,...,...,...,...,...,...,...,...
73,NaN,NaN,NaN,OS001056/01R,EXITO,M,ROSA,NaN,1824,RECEBIDO,NaN
74,1.0,10.0,2022.0,OS001096/01P,DELLAWER,P,KIDS,IDEZ,500,TOTAL OS,N
75,NaN,NaN,NaN,OS001096/01P,DELLAWER,P,KIDS,NaN,466,RECEBIDO,NaN
76,1.0,10.0,2022.0,OS001096/01M,DELLAWER,M,ADULTO,IDEZ,500,TOTAL OS,N
77,NaN,NaN,NaN,OS001096/01M,DELLAWER,M,ADULTO,NaN,447,RECEBIDO,NaN

In [46]:

for i in lista_os_of:
    df_ativa = pd.read_csv('ativas.csv')
    df = df_concat[df_concat['OS'] == i] #pegando cada os
    try: #criando uma condição para os que derem errado no calculo
        a = df.iloc[1,8] >= df.iloc[0,8]*0.9 #fazendo uma pequena comparação
    except: #e atribuindo o valor a False
        a = False
    
    if a == False:
        df_ativa = pd.concat([df_ativa,df]) #juntando os dados
        df_ativa = df_ativa.drop_duplicates() #tentando remover as duplicatas
        df_ativa.to_csv('ativas.csv', index=False) #salvando os dados

In [47]:
df

,DIA,MES,ANO,OS,MARCA,TAMANHO,COR,COLADOR,QUANTIDADE,STATUS,PAGO
41,29.0,11.0,2022.0,OS000000/01JM,JOAO E MARIA,P,COLORIDA,IDEZ,275,TOTAL OS,N

In [48]:
a

False

In [49]:
df_ativa

,DIA,MES,ANO,OS,MARCA,TAMANHO,COR,COLADOR,QUANTIDADE,STATUS,PAGO
0,1.0,10.0,2022.0,OS001096/01M,DELLAWER,M,ADULTO,IDEZ,500,TOTAL OS,N
1,NaN,NaN,NaN,OS001096/01M,DELLAWER,M,ADULTO,NaN,447,RECEBIDO,NaN
2,21.0,9.0,2022.0,OS001080/01K,MARBELLE,M,KIDS,IDEZ,3000,TOTAL OS,N
3,NaN,NaN,NaN,OS001080/01K,MARBELLE,M,KIDS,NaN,2672,RECEBIDO,NaN
4,19.0,9.0,2022.0,OS001080/03P,MARBELLE,P,PRETA,IDEZ,1000,TOTAL OS,N
5,NaN,NaN,NaN,OS001080/03P,MARBELLE,P,PRETA,NaN,814,RECEBIDO,NaN
6,5.0,9.0,2022.0,OS001063,CARIOCA DAS MARCAS,M,PRETA,IDEZ,1000,TOTAL OS,N
7,NaN,NaN,NaN,OS001063,CARIOCA DAS MARCAS,M,PRETA,NaN,200,RECEBIDO,NaN
8,30.0,9.0,2022.0,OS009999/DUP,SACOLA,M,DUPLEX BRANCA,IDEZ,320,TOTAL OS,N
9,NaN,NaN,NaN,OS009999/DUP,SACOLA,M,DUPLEX BRANCA,NaN,220,RECEBIDO,NaN
10,21.0,10.0,2022.0,OS001108/03VCp,MARBELLE,P,VERDE CLARO,IDEZ,1000,TOTAL OS,N
11,NaN,NaN,NaN,OS001108/03VCp,MARBELLE,P,VERDE CLARO,NaN,797,RECEBIDO,NaN
12,21.0,10.0,2022.0,OS001108/03VMp,MARBELLE,P,VERDE MILITAR,IDEZ,1000,TOTAL OS,N
13,NaN,NaN,NaN,OS001108/03VMp,MARBELLE,P,VERDE MILITAR,NaN,500,RECEBIDO,NaN
14,21.0,10.0,2022.0,OS001108/03VCM,MARBELLE,M,VERDE CLARO,IDEZ,1000,TOTAL OS,N
15,NaN,NaN,NaN,OS001108/03VCM,MARBELLE,M,VERDE CLARO,NaN,585,RECEBIDO,NaN
16,21.0,10.0,2022.0,OS001108/03PM,MARBELLE,M,PRETO,IDEZ,1000,TOTAL OS,N
17,NaN,NaN,NaN,OS001108/03PM,MARBELLE,M,PRETO,NaN,476,RECEBIDO,NaN
18,25.0,11.0,22.0,OS001031,IRISBELA,M,ROSA,IDEZ,1000,TOTAL OS,N
19,NaN,NaN,NaN,OS001031,IRISBELA,M,ROSA,NaN,350,RECEBIDO,NaN
20,26.0,11.0,2022.0,OS001108/3PM2,MARBELLE,M2,PRETA,IDEZ,1000,TOTAL OS,N
21,21.0,11.0,2022.0,OS001108/VM2,MARBELLE,M2,VERDE MILITAR,IDEZ,1000,TOTAL OS,N
22,29.0,11.0,2022.0,OS000000/01HM,HM CONCEITO,M,BRANCO C/ LARANJA,IDEZ,109,TOTAL OS,N
23,29.0,11.0,2022.0,OS000000/01TS,TS Style,M,LILAS,IDEZ,105,TOTAL OS,N
24,29.0,11.0,2022.0,OS000000/01JM,JOAO E MARIA,P,COLORIDA,IDEZ,275,TOTAL OS,N

In [ ]:
joao=pd.read_csv('ativas.csv')

In [ ]:
joao

In [ ]:
data = {"Name": ["James", "Alice", "Phil", "James"],
		"Age": [24, 24, 40, 24],
		"Sex": ["Male", "Female", "Male", "Male"]}
df3 = pd.DataFrame(data)
print(df3)

In [ ]:
df3= df3.drop_duplicates()
print(df3)